{% extends "AlphaLemonCmsBundle:Block:Json/_item.html.twig" %}

{% block form %}
<form id="{{ form_name }}" action="#" method="post" {{ form_enctype(form) }}>
    <table>
        <tr>
            <td>{{ form_label(form.url, "Url") }}</td>
            <td>{{ form_errors(form.url) }} {{ form_widget(form.url, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.text, "Tweet content") }}</td>
            <td>{{ form_errors(form.text) }} {{ form_widget(form.text, { 'attr': {'class' : 'input panel_input', 'row' : '3'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.via, "Via @") }}</td>
            <td>{{ form_errors(form.via) }} {{ form_widget(form.via, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.related, "Raccomanda @") }}</td>
            <td>{{ form_errors(form.related) }} {{ form_widget(form.related, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.hashtags, "Hashtags #") }}</td>
            <td>{{ form_errors(form.hashtags) }} {{ form_widget(form.hashtags, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.size, "Size") }}</td>
            <td>{{ form_errors(form.size) }} {{ form_widget(form.size, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.dnt, "dnt") }}</td>
            <td>{{ form_errors(form.dnt) }} {{ form_widget(form.dnt, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.count, "Show counter") }}</td>
            <td>{{ form_errors(form.count) }} {{ form_widget(form.count, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(form.lang, "Lang") }}</td>
            <td>{{ form_errors(form.lang) }} {{ form_widget(form.lang, { 'attr': {'class' : 'input panel_input'}}) }} </td>
        </tr>
    </table>
        
    {{ form_rest(form) }}
</form>
{% endblock %}